
global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 120s
  timeout connect 120s
  timeout server 120s
  timeout http-request 120s
  log global

frontend stats
  bind *:8404
  stats enable
  stats uri /
  stats auth cikuu:cikuutest
  stats refresh 10s


frontend socks5_frontend
  bind *:30005
  default_backend socks5_backend
  maxconn 6000

frontend suno_frontend
  bind *:30006
  default_backend socks5_suno
  maxconn 6000



# 上游要求用户名密码认证，探测时声明支持 no-auth(00) + user/pass(02)
backend socks5_backend
  balance roundrobin
  option tcp-check
  tcp-check connect
  tcp-check send-binary 05020002
  tcp-check expect binary 0502
  server proxy1 38.76.145.31:1080 check inter 10s fall 3 rise 2
  server proxy2 38.97.251.173:1080 check inter 10s fall 3 rise 2
  server proxy3 38.97.251.17:1080 check inter 10s fall 3 rise 2
  server proxy4 154.12.43.135:1080 check inter 10s fall 3 rise 2
  server proxy5 154.12.37.102:1080 check inter 10s fall 3 rise 2
  server proxy6 154.12.43.48:1080 check inter 10s fall 3 rise 2
  server proxy7 38.244.36.116:1080 check inter 10s fall 3 rise 2
  server proxy8 38.244.36.166:1080 check inter 10s fall 3 rise 2
  server proxy9 38.244.36.205:1080 check inter 10s fall 3 rise 2

# 上游免认证，握手回 0500
backend socks5_suno
  balance roundrobin
  option tcp-check
  tcp-check connect
  tcp-check send-binary 050100
  tcp-check expect binary 0500
  server proxy11 66.80.171.2:56789 check inter 10s fall 3 rise 2
  server proxy12 66.80.171.3:56789 check inter 10s fall 3 rise 2
  server proxy13 66.80.171.4:56789 check inter 10s fall 3 rise 2
  server proxy14 66.80.171.5:56789 check inter 10s fall 3 rise 2
  server proxy15 66.80.171.6:56789 check inter 10s fall 3 rise 2
  server proxy16 66.80.171.7:56789 check inter 10s fall 3 rise 2
  server proxy17 66.80.171.8:56789 check inter 10s fall 3 rise 2
  server proxy18 66.80.171.9:56789 check inter 10s fall 3 rise 2
  server proxy19 66.80.171.10:56789 check inter 10s fall 3 rise 2