global
  stats socket /var/run/api.sock user haproxy group haproxy mode 660 level admin expose-fd listeners
  log stdout format raw local0 info

defaults
  mode http
  timeout client 120s
  timeout connect 120s
  timeout server 120s
  timeout http-request 120s
  log global

frontend stats
  bind *:6001
  stats enable
  stats uri /
  stats auth cikuu:cikuutest
  stats refresh 10s


frontend win_frontend
    bind *:6024
    mode tcp
    default_backend win_backend

backend win_backend
    mode tcp
    server win24 118.194.235.186:3389